*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: Arial, sans-serif;
}
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
    padding: 8px 15px;
    z-index: 2;
    overflow: hidden;
    position: sticky;
    top: 0px;
}

.logo {
    color: #fff;
}
.logo img{
    width: 100px;
    border-radius: 50%;

}
.nav_links {
    width: 45%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav_links li {
    display: inline;
}

.nav_links a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: all .8s ease-in-out;
    margin-left: 80px;
}

.nav_links a:hover {
    background-color: #575757;
    border-radius: 4px;
}
.menu_icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.menu_icon .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
}
#LoginName{
    color: #fff;
    font-size: 17px;
}
#logout{
    padding: 8px 13px;
    background-color: rgba(255, 0, 0, 0.747);
    color: #fff;
    border-radius: 7px;
    border: none;
    transition: all .8s ease-in-out;
}
#logout:hover{
    background-color: rgba(255, 0, 0, 0.514);
}
.container1{
    width: 90%;
    margin: auto;
    /* height: 200vh; */
}
.hero_section{
    width: 98%;
    padding: 30px;
    height: 50vh;
    margin: auto;
    background-image: url("https://i.ytimg.com/vi/II0cF9hFQ_g/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    line-height: inherit;
}
.hero_section img{
    width:90%;
}

.additional_form{
    width: 100%;
    margin:15px auto;
    display: flex;
    justify-content: space-between;
}
.img_div{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 50%;
    height: 20%;
}
.form_div{
  width: 100%; 

}
.main_form{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 50%;
    display: grid;
    place-items: center;
}
.img_div img{
    width: 100%;
    height: 100%;
}
label {
    color: rgb(15, 15, 15);
    font-size: 20px;
    margin: 15px 0 7px 0;
  }
  input {
    display: inline-block;
    box-sizing: border-box;
    color: gray;
    width: 97%;
    padding: 12px;
    border-radius: 5px;
  }
  input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 7px;
    width: 95%;
}
.btn_div{
    width: 100%;
}
#btn_contect{
    width: 40%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: green;
    color: #fff;
    transition: all .8s ease-in-out;
}
#btn_contect:hover{
    background-color: rgba(0, 128, 0, 0.767);
    color: #fff;
    cursor: pointer;
}
.apicall{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 5px;
    gap: 17px;
    margin-top: 25px;
}
.apicall div{
    border-radius: 25px 50px;
    text-align: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all .5s ease-in-out;
}
.apicall div:hover{
    transform: scale(1.01);
    border: 1px solid gray;
    cursor: pointer;
}

.apicall div img{
    width: 200px;
    height: 250px;
    /* border-radius: 25px 50px; */
    transition: all .8s ease-in-out;
}
.apicall div img:hover{
    transform: scale(1.04);
    cursor: pointer;
}
.apicall div h5{
    font-size: 20px;
    font-weight: 600;
    color: blue;
}
.apicall div p{
    font-size: 13px;

}
#buy{
    background-color: red;
    color: #fff;
    transition: all 1s ease-in-out;
    border: none;
    padding: 8px 16px;
    margin-top: 10px;
    border-radius: 8px;
    margin-left: 10px;
}
#buy:hover{
    background-color: rgba(255, 0, 0, 0.699);
    cursor: pointer;
}
#add{
    background-color: green;
    color: #fff;
    transition: all 1s ease-in-out;
    border: none;
    padding: 8px 16px;
    margin-top: 10px;
    border-radius: 8px;
}
#add:hover{
    background-color: rgba(0, 255, 0, 0.925);
    cursor: pointer;
}
.footer {
    margin-top: 40px;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  #main_footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    color: white;
  }
  .follow_us {
    width: 30%;
  }
  .follow_us ul {
    font-size: 25px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
  }
  ul li {
    list-style: none;
    margin-bottom: 5px;
  }
  a {
    text-decoration: none;
    color: white;
  }
  h3{
    margin-bottom: 10px;
  }

  @media screen and (min-width:200px) and (max-width:767px) {
    .navbar {
        padding: 15px 25px;
        z-index: 2;
        overflow: hidden;
        position: sticky;
        top: 0px;
        width: 90%;
    }
    .container{
       width: 98%;
    }
    .nav_links {
        display: none;
        position: absolute;
        background-color: #333;
        top: 60px;
        right: 20px;
        flex-direction: column;
        width: 200px;
        gap: 0;
    }
    .logo{
        display: none;
    }
    .nav_links li {
        display: block;
        text-align: center;
    }

    .menu_icon {
        display: block;
        
    }

    .nav_links.active {
        display: flex;
    }
    .hero_section{
        padding: 25px;
        width: 90%;
        margin: auto;
        height: 50vh;
    }
    .hero_section,.hero_section p{
        color: white;
    }
    .hero_section img{
        width:100%;
    }
    .additional_form{
        width: 100%;
        margin: auto;
        display: block;
    }
    .main_form{
        width: 100%;
        display: block;
    }
    .img_div , .form_div{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 0px;
        width: 100%;
        height: 20%;
        /* border: 1px solid red; */
    
    }
    
    .img_div img{
        width: 100%;
        height: 100%;
    }
      input[type="text"], input[type="email"] {
        width: 98%;
    }
    .apicall{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    
      #main_footer {
        display: block;
        gap: 20px;
      }
      .follow_us {
        width: 98%;
      }
      
}
@media screen and (min-width:768px) and (max-width:1080px) {
    .navbar {
        padding: 14px 18px;
        z-index: 2;
        overflow: hidden;
        position: sticky;
        top: 0px;
    }
    .container{
       width: 98%;
    }
    .nav_links {
        display: none;
        position: absolute;
        background-color: #333;
        top: 60px;
        right: 20px;
        flex-direction: column;
        width: 200px;
        gap: 0;
    }
    .logo{
        display: none;
    }
    .nav_links li {
        display: block;
        text-align: center;
    }

    .menu_icon {
        display: flex;
    }

    .nav_links.active {
        display: flex;
    }
    .hero_section{
        color: white;
        height: auto;
        padding: 25px;
        height: 50vh;
    }
    .hero_section img{
        width:100%;
    }
    .additional_form{
        width: 100%;
        margin: auto;
        display: block;
    }
    .main_form{
        width: 100%;
        display: block;
    }
    .img_div , .form_div{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 0px;
        width: 100%;
        height: 20%;
        /* border: 1px solid red; */
    }
    .img_div img{
        width: 100%;
        height: 100%;
    }
      input[type="text"], input[type="email"] {
        width: 98%;
    }
    .apicall{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
      #main_footer {
        display: block;
        gap: 20px;
      }
      .follow_us {
        width: 98%;
      }
      
}